   <div class="expression-container">
       <span class="expression-body">{{expression}}</span>
       <span class="expr-sum">&nbsp;=&nbsp;</span>
       <input type="text" class="expression-result"
       data-value="{{result}}"/>
       <button class="validate-answer">Validate</button>
       <span class="answer-icon">
         <span class="correct-icon">Correct</span>
         <span class="incorrect-icon">Incorrect</span>
       </span>
   </div>